build/
sdkconfig
sdkconfig.old
.DS_Store
components/esp_idf_lib_helpers/LICENSE
.vscode/
.gitattributes
certs/
*.pem
*.crt
*.key
main/certs/*.pem*
wifi_config.txt
certs.c
.vscode/settings.json
.vscode/settings.json
